.category-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-radius: 14px;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 18px rgba(0,0,0,0.12);
}
.top-course-card {
  width: 100%;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-radius: 14px;
}

.top-course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.12);
}


.category-course-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-radius: 14px;
}

.category-course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.12);
}
